* {
    margin: 0;
}

#header {
    display: flex;
    height: 10vh;
    background-color: #a2a2a2;
    width: 100%;
    border-bottom: 3px solid #565656;
    align-items: center;
    justify-content: center;
}

#header h1 {
}

#actions {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
